<!DOCTYPE html>
<html>
    <head>
        <title>kington's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">kington的blog</a></h1>
        </header>
        <article>
            <h2>你太棒了！</h2>
            <p>Hi there!</p>
            <p>It works</p>
            <h2>你太优秀了！</h2>
            <em>这是你个人的blog</em>
            <p>继续试试其他的<br>加油！</p>
            <a href="https://djangogirls.org">Django</a>
            <ul><li>first item</li><li>second item</li></ul>
            <h2><a href="https://tutorial.djangogirls.org/en/html/">其他html函数</a></h2>
        </article>
    </body>
</html>